In [1]:
import pandas as pd

In [2]:
#file to load
postsec_data_to_load = "postsecondary_enrollment_combined_1718_1819_1920.csv"

In [3]:
#read postsec data file as df
post_sec_df = pd.read_csv(postsec_data_to_load)
post_sec_df

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT
0,2019-20,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],First Fall,In-State,2-Year,Public,All Students,All Students,32744,7097
1,2019-20,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Multiple,All Students,All Students,32744,211
2,2019-20,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Private,All Students,All Students,32744,2171
3,2019-20,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Public,All Students,All Students,32744,11695
4,2019-20,NaN,NaN,NaN,NaN,0,NaN,[All],[Statewide],[Statewide],First Fall,In-State,Multiple,Multiple,All Students,All Students,32744,314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228734,2018-19,Public school,No,7.0,Brown,6734,40.0,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,2-Year,Public,Migrant Status,Not Migrant,95,4
228735,2018-19,Public school,No,7.0,Brown,6734,40.0,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,4-Year,Public,Migrant Status,Not Migrant,95,3
228736,2018-19,Public school,No,7.0,Brown,6734,40.0,High School,Wrightstown Community,Wrightstown High,*,*,*,*,Race/Ethnicity,Asian,2,*
228737,2018-19,Public school,No,7.0,Brown,6734,40.0,High School,Wrightstown Community,Wrightstown High,*,*,*,*,Race/Ethnicity,Hispanic,3,*
228738,2018-19,Public school,No,7.0,Brown,6734,40.0,High School,Wrightstown Community,Wrightstown High,*,*,*,*,Race/Ethnicity,White,90,*

In [5]:
#check for missing values
post_sec_df.count()

SCHOOL_YEAR             228739
AGENCY_TYPE             226669
CHARTER_IND             226669
CESA                    226669
COUNTY                  226669
DISTRICT_CODE           228739
SCHOOL_CODE             124358
GRADE_GROUP             228739
DISTRICT_NAME           228739
SCHOOL_NAME             228739
INITIAL_ENROLLMENT      228739
INSTITUTION_LOCATION    228739
INSTITUTION_LEVEL       228739
INSTITUTION_TYPE        228739
GROUP_BY                228739
GROUP_BY_VALUE          228739
GROUP_COUNT             228739
STUDENT_COUNT           228739
dtype: int64

In [7]:
#total empty rows
post_sec_df.isnull().sum()

SCHOOL_YEAR                  0
AGENCY_TYPE               2070
CHARTER_IND               2070
CESA                      2070
COUNTY                    2070
DISTRICT_CODE                0
SCHOOL_CODE             104381
GRADE_GROUP                  0
DISTRICT_NAME                0
SCHOOL_NAME                  0
INITIAL_ENROLLMENT           0
INSTITUTION_LOCATION         0
INSTITUTION_LEVEL            0
INSTITUTION_TYPE             0
GROUP_BY                     0
GROUP_BY_VALUE               0
GROUP_COUNT                  0
STUDENT_COUNT                0
dtype: int64

In [8]:
post_sec_df.dtypes

SCHOOL_YEAR              object
AGENCY_TYPE              object
CHARTER_IND              object
CESA                    float64
COUNTY                   object
DISTRICT_CODE             int64
SCHOOL_CODE             float64
GRADE_GROUP              object
DISTRICT_NAME            object
SCHOOL_NAME              object
INITIAL_ENROLLMENT       object
INSTITUTION_LOCATION     object
INSTITUTION_LEVEL        object
INSTITUTION_TYPE         object
GROUP_BY                 object
GROUP_BY_VALUE           object
GROUP_COUNT              object
STUDENT_COUNT            object
dtype: object

In [10]:
for col in post_sec_df.columns:
    print(col)

SCHOOL_YEAR
AGENCY_TYPE
CHARTER_IND
CESA
COUNTY
DISTRICT_CODE
SCHOOL_CODE
GRADE_GROUP
DISTRICT_NAME
SCHOOL_NAME
INITIAL_ENROLLMENT
INSTITUTION_LOCATION
INSTITUTION_LEVEL
INSTITUTION_TYPE
GROUP_BY
GROUP_BY_VALUE
GROUP_COUNT
STUDENT_COUNT